parameters:
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        -
            message: '#Cannot cast array\<bool\|float\|int\|string>\|bool\|float\|int\|string\|null to string\.#'
            path: src/Builder/ClassAnalyzer.php
