parameters:
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Parameter (.*) expects class-string(.*) string given\.#'
        - '#Cannot cast mixed to string\.#'
        - '#Method (.*) should return (.*)(Encoder|Decoder)\|null but returns object\.#'
    excludePaths:
        - src/ArraySerializer.php
        - src/JsonSerializer.php
        - src/Serializer.php
        - src/Builder/ReflectionClass.php
